body {
    background-color: #000000; /* Fundo preto */
    color: #8B0000; /* Vermelho vinho */
    font-family: "Times New Roman", serif; /* Fonte clássica */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #8B0000; /* Vermelho vinho */
    color: white; /* Texto branco */
    font-family: "Times New Roman", serif; /* Fonte clássica */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #A52A2A; /* Um tom mais claro de vermelho vinho no hover */
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    margin: 20px 0;
}
