body {
    background-color: #000000;
    color: #E0E0E0;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

h1 {
    font-family: "Permanent Marker", cursive; 
    font-size: 3rem;
    color: #00FFFF; 
    text-shadow: 0 0 20px #00FFFF, 0 0 30px #00FFFF;
    margin-bottom: 20px;
}

button {
    background-color: #333333;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    border: 2px solid #E0E0E0;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #666666;
    color: #000000;
    border-color: #00FFFF;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    margin: 20px 0;
}
